@import url('https://fonts.googleapis.com/css2?family=Allison&family=Inter:wght@200;400;700&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');

:root {
  --dark-blue:#1B3C74;
  --blue: #2D5395;
  --black: black;
  --red: #C74528;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

p {
  margin: 0px;
  padding: 0px;
}

hr {
  z-index: 1;
  margin: 0px 0px 10px;

  color: #179E53;
  border: 1.5px solid #179E53;
}

.sectionKey {
  font-size: 0.9rem;
  color: var(--blue);
}

.topSection {
  left: 175px;
}

.sectionValue {
  z-index: 3;
  font-size: 1.1rem;
  color: var(--black);
}

#cardRectangle {
  width: 506px;
  height: 320px;
  z-index: 0;

  background-color: #FFFDEA;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

#backgroundCoverArt {
  background-position: center;
  width: 506px;
  height: 320px;
  z-index: 1;

  border-radius: 20px;
  opacity: 0.12;
}

#mainProfilePicAndSignature {
  top: 67px;
  left: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainProfilePicCrop {
  height: 190px;
  width: 150px;
  overflow: hidden;
  z-index: 2;
}

#mainProfilePicCrop img {
  height: 190px;
  margin: 0px 0px 0px -20px;
  opacity: 0.95;
}

#spotify {
  top: 10px;
  left: 20px;
  z-index: 3;
  
  color: var(--dark-blue);
  font-family: 'Roboto', sans-serif;
  font-size: 2.85rem;
}

#country {
  top: 37px;
  left: 167px;

  font-size: 0.9rem;
  color: var(--blue);
}

#driver-license {
  top: 18px;
  left: 230px;

  font-size: 1.1rem;
  color: var(--blue);
}

#federal-limits-apply {
  top: 32px;
  left: 405px;

  font-size: 1rem;
  font-weight: normal;
  width: 1px;
  line-height: 1rem;
  color: var(--black);
}

#topGreenLine {
  top: 58px;
  left: 45px;

  width: 350px;
}

#bottomGreenLine {
  top: 69px;

  width: 220px;
}


#dlKey {
  top: 95px;
}

#dlValue {
  top: 89px;
  left: 198px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4rem;
  color: var(--red);
}

#dateKey {
  top: 121px;
}

#dateValue {
  top: 117px;
  left: 207px;

  font-size: 1.2rem;
  color: var(--red);
}

#lnKey {
  top: 148px;
}

#lnValue {
  top: 146px;
  left: 200px;
}

#fnKey {
  top: 170px;
}

#fnValue {
  top: 167.5px;
  left: 200px;
}

#trackKey {
  top: 194px;
}

#trackValue {
  top: 191.5px;
  left: 243px;
}

#artistKey {
  top: 218px;
}

#artistValue {
  top: 215.5px;
  left: 252px;
}

#followersKey {
  top: 121px;
  left: 335px;
}

#followersValue {
  top: 121px;
  left: 428px;

  font-size: 0.9rem;
}

#genresKey {
  top: 276px;
  left: 209px;

  width: 1px;
  line-height: 0.9rem;
}

#genresValue {
  top: 271px;
  left: 275px;
  font-size: 0.9rem;
  width: 200px;
  height: 30px;
}

#genresValue span {
  margin: 0px 40px 0px 0px;
}

#signature {
  font-family: 'Allison', cursive;
  font-size: 2rem;
  opacity: 0.8;
}

#smallProfilePic {
  top: 210px;
  left: 300px;
  z-index: 2;

  height: 77px;
  opacity: 0.4;
}

#card {
  position: relative;
  top: 10px;
  left: 10px;
}

#card > * {
  position: absolute;
}