@import url('https://fonts.googleapis.com/css2?family=Allison&family=Inter:wght@200;400;700&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');

:root {
  --dark-blue:#1B3C74;
  --blue: #2D5395;
  --black: black;
  --red: #C74528;
}

p {
  margin: 0px;
  padding: 0px;
}

hr {
  z-index: 1;
  margin: 0px 0px 10px;

  color: #179E53;
  border: 1.5px solid #179E53;
}

.sectionKey {
  font-size: 0.9rem;
  margin-right: 5px;
  color: var(--blue);
}

.sectionValue {
  z-index: 3;
  font-size: 1.1rem;
  line-height: 1rem;
  overflow-wrap: break-word;
  color: var(--black);
}

.flexWrapper {
  display: flex;
}

#cardRectangle {
  width: 506px;
  height: 320px;
  z-index: 0;

  background-color: #FFFDEA;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

#backgroundCoverArt {
  background-position: center;
  width: 506px;
  height: 320px;
  z-index: 1;

  border-radius: 20px;
  opacity: 0.12;
}

#licensify {
  top: 17.5px;
  left: 20px;
  z-index: 3;
  
  color: var(--dark-blue);
  font-family: 'Roboto', sans-serif;
  font-size: 2.46rem;
}

#country {
  top: 39px;
  left: 181px;

  font-size: 0.9rem;
  color: var(--blue);
  width: 215px;
  overflow: hidden;
}

#driverLicense {
  top: 18px;
  left: 230px;

  font-size: 1.1rem;
  color: var(--blue);
}

#displayTimeRange {
  top: 32px;
  left: 405px;

  font-size: 1rem;
  font-weight: normal;
  width: 60px;
  line-height: 1rem;
  color: var(--black);
}

#topGreenLine {
  top: 58px;
  left: 45px;

  width: 350px;
}

#bottomGreenLine {
  top: 69px;
  left: 175px;

  width: 220px;
}
#mainProfilePicAndSignature {
  top: 67px;
  left: 18px;

  display: flex;
  flex-direction: column;
}

#mainProfilePicCrop {
  height: 190px;
  width: 150px;
  overflow: hidden;
  z-index: 2;
}

#mainProfilePicCrop img {
  height: 190px;
  margin: 0px 0px 0px -20px;
  opacity: 0.95;
}

#signature {
  font-family: 'Allison', cursive;
  font-size: 2rem;
  opacity: 0.8;
  margin-top: 10px;
  padding: 5px 0px 0px 5px;
  width: 160px;
  height: 40px;
  overflow: hidden;
  overflow-wrap: break-word;
  line-height: 1rem;
}

#topSection {
  top: 90px;
  left: 175px;

  z-index: 3;
  flex-direction: column;
  width: 315px;
  
}

#topSection > * {
  margin-bottom: 6px;
}

#dlKey {
  margin-top: 8px;
}

#dlValue {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 4px;
  font-size: 1.4rem;
  width: 300px;
  line-height: 1.1rem; 
  overflow-wrap: break-word;
  color: var(--red);
}

#expAndFollowersWrapper {
  margin-top: 4px;
}

#expValue {
  margin: -4px 20px 0px 0px;
  font-size: 1.2rem;
  color: var(--red);
}

#followersValue {
  font-size: 0.9rem;
  overflow-wrap: break-word;
  width: 80px;
  height: 1px;
}

#nameWrapper {
  flex-direction: column;
}

#fn, #ln {
  max-height: 15.7px;
  overflow: hidden;
}

#trackAndArtistWrapper {
  flex-direction: column; 
}

#track, #artist {
  max-height: 33.5px;
  overflow: hidden;
}

#trackKey, #artistKey {
  width: 80px;
}

#trackValue, #artistValue {
  width: 250px;
}

#genres {
  top: 275px;
  left: 204px;
}

#genresKey {
  width: 63px;
  line-height: 0.9rem;
}

#genresValue {
  font-size: 0.9rem;
  width: 225px;
  height: 30px;
  
  overflow: hidden;
}

#genresValue span {
  margin: 0px 40px 0px 0px;
  word-break: keep-all;
  white-space: pre;
}

#smallProfilePic {
  top: 210px;
  left: 300px;
  z-index: 2;

  height: 77px;
  opacity: 0.4;
}

#websiteName {
  top: 78px;
  left: 175px;

  font-size: 0.6rem;
  color: var(--blue);
}

#card {
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  width: 506px;
  height: 320px;
}

#card > * {
  position: absolute;
}

#cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN PAGE */

#loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}