:root {
  --main-text: #000b56;
  --heading: #00218e;
  --clickable: #7064ee;
  --active: #ef38b8;
}

body {
  background: rgb(255,165,226);
  background: linear-gradient(60deg, rgb(255,165,226,1) 0%, rgb(201, 165, 255) 35%, rgb(128,243,255) 100%);
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: var(--main-text);
}

h2 {
  font-size: 1.2rem;
  color: var(--heading);
}

a {
  text-decoration: none;
  color: var(--clickable);
}

a:hover {
  color: var(--active);
}

.link {
  margin: 0rem 0.6rem;
  text-decoration: none;
  color: var(--clickable);
  padding: 0rem;
}

.link:hover {
  color: var(--active);
}

.mainFont {
  font-family: 'Roboto', sans-serif;
}

.timeRangeButton {
  padding: 0.5rem 1rem;
  color: var(--clickable);
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.0);
}

.timeRangeButton:hover {
  background: linear-gradient(60deg, rgba(150, 216, 230, 1), rgba(174, 238, 204, 1));
  color: var(--active);
}

.timeRangeButton:active {
  background: linear-gradient(60deg, rgba(150, 216, 230, 1), rgba(174, 238, 204, 1));
  color: var(--active);
  filter: saturate(0.6);
}

.timeRangeButton:focus {
  background: linear-gradient(60deg, rgba(150, 216, 230, 1), rgba(174, 238, 204, 1));
  color: var(--active);
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#title {
  font-size: 5rem;
  margin: 2.5rem auto 0rem;
  color: var(--heading);
}

#logout {
  background-color: transparent;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 1rem;
}

#loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh auto;
}

#tagline {
  margin: 1rem 3rem 1.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#loginButton {
  display: flex;
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: rgb(165, 255, 232);
  background: linear-gradient(60deg, rgb(165, 255, 232) 0%, rgb(162, 255, 199) 35%, rgb(198, 255, 158) 100%);
}

#loginButton img {
  width: 1.8rem;
  height: 1.8rem;
  margin: auto 0.3rem auto auto;
}

#loginButton p {
  color: var(--clickable);
  padding: 0.2rem;
}

#loginButton:hover {
  background: linear-gradient(60deg, rgb(55, 255, 245) 0%, rgb(93, 255, 158) 35%, rgb(150, 255, 44) 100%);
}

#loginButton:active {
  background-color:rgb(191, 209, 243);
}

#profilePage {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#timeRangeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  border-radius: 0.5rem;

  background-color: rgba(255, 255, 255, 0.3);
  background: linear-gradient(60deg, rgba(180, 234, 255, 0.6), rgba(211, 255, 179, 0.6));
}

#timeRangeButtons {
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.3);
  background: linear-gradient(60deg, rgba(180, 234, 255, 0.6), rgba(211, 255, 179, 0.6));
  border-radius: 0.5rem;
}

#oneMonthButton {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

#sixMonthsButton {
  border-radius: 0rem;
}

#allTimeButton {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

#style {
  margin: 1rem 0rem;;
  color: var(--main-text);
}

#footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 0.5rem;
  font-size: 0.8rem;
}

#footer {
  margin: auto auto 2rem;
}

#footer span {
  opacity: 0.5;
}

#footer a {
  opacity: 1;
}

#aboutPage {
  margin: 3rem 5rem;
}

#aboutPage p {
  margin: 1rem auto;
}

#contactLinks a {
  margin: auto 0.5rem;
  text-decoration: none;
}

@media (min-width: 1400px) {
  #aboutPage {
    margin: auto 20%;
  }
}

@media (max-width: 1400px) {
  #aboutPage {
    margin: auto 20%;
  }
}

@media (max-width: 1000px ) {
  #aboutPage {
    margin: 1.5rem 10% auto;
  }
}

@media (max-width: 500px ) {
  #profilePage {
    transform: scale(0.70); 
  }
  #card  {
    margin: -1rem auto 3rem;
    padding: 0rem;
  }
  #timeRangeButtons, #style {
    transform: scale(1.4);
    margin: 1rem auto;
  }
  #tagline {
    font-size: 2rem;
  }
}